.admin-main {
  background-image: linear-gradient(
    135deg,
    rgba(220, 38, 38, 0.1) 0%,
    rgba(13, 162, 231, 0.05) 100%
  );
}

.button-container {
  display: flex;
  align-items: center;
  gap: 10px;
}
